<div class="content">

    <nav class="side-bar">
        <div class="side-bar-up">
            <img src="assets/logo.png" alt="logo image">
            <h3>MobiArc Tech</h3>
        </div>
        <div class="sidebar-content">
            <div class="side-bar-navigation">
                <ul>
                    <li>
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                home
                            </span>
                        </div>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                point_of_sale
                            </span>
                        </div>
                        <a href="#">Sales</a>
                    </li>
    
                    <li>
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                inventory
                            </span>
                        </div>
                        <a href="#">inventory</a>
                    </li>
    
                    <li>
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                construction
                            </span>
                        </div>
                        <a href="#">Repair</a>
                    </li>
    
                    <li>
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                stress_management
                            </span>
                        </div>
                        <a href="#">Supply</a>
                    </li>
    
                    <li>
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                lab_profile
                            </span>
                        </div>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </div>
    
            <div class="log-out">
                <div class="icon">
                    <span class="material-symbols-outlined">
                        power_settings_new
                    </span>
                </div>
                <a href="#">Log Out</a>
            </div>
        </div>
    </nav>
    
    <header>
        <div class="header-content">
            <div class="user-image">
                <img src="assets/userimage.png" alt="User-image">
            </div>
            <div class="user-detail">
                <h6>Naduka Abekoon</h6>
                <p>Admin</p>
            </div>
        </div>
    </header>

</div>